<body style="background-color: black">
  <img src="assets/imagenes/fdi2016.jpg" style="width: 100%;margin-top:50px">
  <!--<div style="background-image: url(assets/imagenes/fdi2016.jpg);height: 200vh;background-repeat: no-repeat;z-index: 1;width: 200%"  >
    </div>-->
    <div style="position: absolute;margin-top:-800px;width: 100%;text-align: right">
       <img src="assets/imagenes/Utemlogo.png" alt="Avatar" class="avatar" style="margin-right
       :14%;width: 640px" >
    </div>
    <div class="container" style="position: absolute;">
  <div class="row justify-content-center align-items-center minh-100" style="background-color: transparent;width: 30%;margin-top:-50%;margin-left:15%;padding: 30px;border: 1px solid;box-shadow: 5px 10px;opacity: 0.8;" >
   
      
      <form #formLog="ngForm" (ngSubmit)="onSubmit()" >
      <div style="text-align: center;">
        <label for="uname"><h2>Rut</h2></label>
      </div>
      <div style="text-align: center">
        <input style="height: 30px;width: 180px;" matInput placeholder="11.111.111-k" name="rut" [(ngModel)]="usuario.rut">
      </div>

      <div style="text-align: center; margin-top: 10px;">
         <label for="psw"><h2>Contraseña</h2></label>
      </div>

      <div style="text-align: center;">
        <input style="height: 30px;width: 180px;" type="password" placeholder="Contraseña" name="psw" #rut="ngModel" [(ngModel)]="usuario.password" >
      </div>
      <div style="text-align: center; margin-top: 15px;">

        <input style="height: 30px;width: 180px;font-size: 2em" type="submit" value="Login" >
      </div>
      </form>
      
    
    
  



</div>

</div>




</body>


  
