@import '~bootstrap/dist/css/bootstrap.min.css';
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.minh-100 {
  height: 100vh;
}